.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  // background-image: url("assets/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 4rem 2rem;
  color: var(--color-detail);
  text-align: center;

  .hero-content {
    max-width: 600px;

    h1 {
      font-size: var(--font-size-x-large);
      margin-bottom: 1rem;
    }

    p {
      font-size: var(--font-size-medium);
      margin-bottom: 2rem;
    }

    button {
      background-color: var(--color-accent);
      color: var(--color-secondary);
      border: none;
      padding: 0.75rem 2rem;
      font-size: var(--font-size-large);
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: var(--color-accent);
      }
    }
  }
}
