.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  background-size: cover;
  background-position: center;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

  .hero-content {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: var(--font-size-x-large);
      margin-bottom: 1rem;
      font-weight: bold;
    }

    p {
      font-size: var(--font-size-normal);
      margin-bottom: 2rem;
      line-height: 1.5;
      width: 40rem;
    }

    button {
      background-color: var(--color-accent);
      color: var(--color-detail);
      border: none;
      padding: 0.5rem 2.5rem;
      font-size: var(--font-size-smaller);
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--color-accent);
      }
    }
  }
}
