.landing-page-container {
  font-family: Arial, sans-serif;
  color: var(--color-detail);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .landing-header-container {
  }
  .hero-section-container {
  }
  .site-features-container {
  }
  .top-courses-container {
  }
  .about-tutors-container {
  }
  .students-feedback-container {
  }
  .subscribe-card-container {
  }
  .landing-footer-container {
  }
}
